@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* imports fonts used by the website from google fonts*/

body {
  margin: 0;
  font-family: 'Lato', sans-serif;

  font-size: 14pt; /* default font size */
}