.cluster {
	width: 400px;
	height: 120px;

	padding: 20px;

	border: 6px solid #ddd;
	border-radius: 30px;

	display: inline-block;
	margin: 10px;

	text-align: left;
}

.cluster h2 {
	margin: 10px;
}