
/*
  THIS IS WHAT I USED BEFORE

  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }*/


#demographic-box {
    /* centers the box on the page */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    margin-left: auto;
    margin-right: auto;


    width: 750px; /* width: 750px */ 
    height: 450px; /*height: 450px */
    background-color: #253251;
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    box-shadow: 0 0 50px rgba(0, 0, 0,.5);
}

#demographic-box-container {
  padding: 50px;
}

#demographic-box select {
  margin-bottom: 20px;
}

#demographic-box h3 {
  margin: 0px;
  color: white;
}

#submit-button {
    position: absolute;
    bottom: 30px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: #98ca41;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    text-decoration: none;
 }

.header {
  color: black;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

  