
/*
  THIS IS WHAT I USED BEFORE

  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }*/


#demographic-box {
    /* centers the box on the page */
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    width: 700px; /* width: 750px */ 
    height: 420px; /*height: 450px */
    background-color: #253251;
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    box-shadow: 0 0 50px rgba(0, 0, 0,.3);
}

#demographic-box-container {
  padding: 50px;
}

.demographic-item {
  display: inline-block;
  text-align: left;
  width: 250px;
  margin: 15px;
}

.demographic-item select {
  margin-bottom: 50px;
  width: 80%;
}

.demographic-item h3 {
  margin: 0px;
  color: white;
}

.demographic-item input {
  width: 80%;
}

#submit-button {
    position: relative;
    bottom: 20px;

    background-color: #98ca41;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    text-decoration: none;
 }

.header {
  color: black;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

  