body {
	text-align: center;
}

h2 {
	margin: 0px;
}

h3 {
	margin-bottom: 50px;
}

#topbar {
	width: 100%;
	min-height: 140px;
	height: 140px;
	background-color: pink;
}

#content {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 80px;
	margin-bottom: 80px;
	
	background: bisque;
}