
/*
  THIS IS WHAT I USED BEFORE

  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }*/

  
.demographic-box {
    top: 160px;
    left: 350px;
    position: absolute;
    width: 750px; /* width: 750px */ 
    height: 450px; /*height: 450px */
    background-color: #253251;
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    box-shadow: 0 0 70px rgba(0, 0, 0, 1);
}


.submit-button {
    position: absolute;
    bottom: 30px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
    background-color: #98ca41;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .header {
    color: black;
    margin-bottom: 10px; /* Adjust the margin as needed */
  }

  